Library
/Assembly-CSharp-firstpass.csproj
/EditorToolsTest.sln
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.TestRunner.Player.csproj
/UnityEngine.UI.csproj
/UnityEngine.UI.Player.csproj
/UnityEngine.UI.Tests.csproj
/Assembly-CSharp.Player.csproj
/Assembly-CSharp-firstpass.Player.csproj
/BAeditor.sln
/DocCodeExamples.csproj
/Unity.EditorCoroutines.Editor.csproj
/Unity.Performance.Profile-Analyzer.Editor.csproj
/Unity.Performance.Profile-Analyzer.EditorTests.csproj
/Unity.Rider.Editor.csproj
/Unity.Settings.Editor.csproj
/Unity.Settings.Tests.csproj
/Unity.TestTools.CodeCoverage.Editor.Compatibility.csproj
/Unity.TestTools.CodeCoverage.Editor.csproj
/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.csproj
/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.Editor.Tests.csproj
/Unity.TextMeshPro.Player.csproj
/Unity.TextMeshPro.Tests.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.Timeline.Player.csproj
/Unity.VisualScripting.Core.csproj
/Unity.VisualScripting.Core.Editor.csproj
/Unity.VisualScripting.Core.Player.csproj
/Unity.VisualScripting.Flow.csproj
/Unity.VisualScripting.Flow.Editor.csproj
/Unity.VisualScripting.Flow.Player.csproj
/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Unity.VisualScripting.Shared.Editor.csproj
/Unity.VisualScripting.State.csproj
/Unity.VisualScripting.State.Editor.csproj
/Unity.VisualScripting.State.Player.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.VSCode.Editor.csproj
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEditor.UI.EditorTests.csproj
/Temp
/UserSettings
UserSettings
.idea
Logs
obj
/ProjectSettings/ProjectVersion.txt
/Unity.CollabProxy.Editor.csproj
/Sirenix.OdinInspector.Modules.Unity.Addressables.csproj
/Sirenix.OdinInspector.Modules.Unity.Addressables.Player.csproj
/UniTask.Addressables.csproj
/UniTask.Addressables.Player.csproj
/UniTask.csproj
/UniTask.DOTween.csproj
/UniTask.DOTween.Player.csproj
/UniTask.Editor.csproj
/UniTask.Linq.csproj
/UniTask.Linq.Player.csproj
/UniTask.Player.csproj
/UniTask.TextMeshPro.csproj
/UniTask.TextMeshPro.Player.csproj
/Unity.Addressables.csproj
/Unity.Addressables.Editor.csproj
/Unity.Addressables.Editor.Tests.csproj
/Unity.Addressables.Player.csproj
/Unity.Addressables.Tests.csproj
/Unity.AI.Navigation.csproj
/Unity.AI.Navigation.Editor.ConversionSystem.csproj
/Unity.AI.Navigation.Editor.csproj
/Unity.AI.Navigation.Editor.Tests.csproj
/Unity.AI.Navigation.Player.csproj
/Unity.AI.Navigation.Tests.csproj
/Unity.AI.Navigation.Updater.csproj
/Unity.ResourceManager.csproj
/Unity.ResourceManager.Player.csproj
/Unity.ResourceManager.Tests.csproj
/Unity.ScriptableBuildPipeline.csproj
/Unity.ScriptableBuildPipeline.Editor.csproj
/Unity.ScriptableBuildPipeline.Editor.Tests.csproj
/Unity.ScriptableBuildPipeline.Player.csproj
/Unity.ScriptableBuildPipeline.Tests.csproj
/Unity.InputSystem.InGameHints.csproj
/Unity.PlasticSCM.Editor.csproj
/Packages/packages-lock.json
/Unity.InputSystem.ForUI.Player.csproj
/Unity.InputSystem.ForUI.csproj
/Unity.InputSystem.IntegrationTests.csproj
/Unity.InputSystem.Player.csproj
/Unity.InputSystem.TestFramework.Player.csproj
/Unity.InputSystem.TestFramework.csproj
/Unity.InputSystem.csproj
